
<div class="container">
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
       <div class="mid-container wrapper">
        <h1 class="title">Create your account</h1>
         <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-vertical", :multipart => true}) do |f| %>
           <%= f.error_notification %>
           <ul class="control-group">
          <li>
            <%= f.input :first_name, :autofocus => true, label: false, placeholder: "Bilbo", :input_html => {:class => "form-control"} %>
          </li>
          <li>
            <%= f.input :last_name, :autofocus => true, label: false, placeholder: "Baggins", :input_html => {:class => "form-control"} %>
          </li>
          <li>
            <%= f.input :profile_name, :autofocus => true, label: false, placeholder: "Bilbo18...", :input_html => {:class => "form-control"} %>
          </li>
          <li>
            <%= f.input :email, :autofocus => true, label: false, placeholder: "Email please...", :input_html => {:class => "form-control"} %>
          </li>
          <li>
            
            <%= f.input :password, label: false, placeholder: "Enter Password", :input_html => {:class => "form-control"} %>
          </li>
           <li>
            <%= f.input :password_confirmation, label: false, placeholder: "Confirm Password!", :input_html => {:class => "form-control"} %>
          </li>
          <li>
              <%= f.file_field :avatar  %>
              <%= f.hidden_field :avatar_cache %>

</li>
        </ul>
        <div class="mid-form">
          <%= f.button :submit, "Sign up", :class => 'btn blue large pull-left' %>
        </div>

         <div class="inset-margin">
          <a href="#" class="btn btn-twitter">
            <i class="icon-twitter-sign"></i> Login with Twitter
          </a>      <a href="#" class="btn btn-facebook">
          <i class="icon-facebook-sign"></i> Login with Facebook
          </a>    
         </div>
        
      <% end %>

      <div class="mid-footer">
        Already have an account? <a href="/sessions/login">Login here</a>
      </div>
      </div>
     </div>
    <!--
    <div class="top-space">
        <div class="col-lg-4 col-md-4 col-sm-4 pull-right2">
          <div class="content-box big ch-item bottom-pad-small">  
            <div class="content-box-info">
            <h3>The Whole World</h3>
            <p>Evolving Tale brings creativity to your fingertips. Connect with people all around the world and create amazing books together. A huge community of people from all around the world, truly a place for imagination to run wild.</p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>





