<% @snippets.each do |snippet| %>

            
                <%= raw(snippet.content)  %>

                <% if can? :manage, snippet %>
                <%= link_to 'delete', active_snippet_path(snippet.id), :method => :delete %>
              <% end %>

   
       
<% end %>
