<% @snippets.each do |snippet| %>

            
                <%= raw(snippet.content)  %>

                <% if can? :manage, snippet %>
                <%= link_to 'delete', book_snippet_path(@book, snippet), :method => :delete, :class => 'btn-small btn-color' %>
              <% end %>

   
       
<% end %>
