<div class="content">
<div class="sidebar col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <!-- Search Widget Start -->
                        <div class="widget search-form">
                           <div class="input-group">
                              <input type="text" value="Search..." onfocus="if(this.value=='Search...')this.value='';" onblur="if(this.value=='')this.value='Search...';" class="search-input form-control">
                              <span class="input-group-btn">
                              <button type="submit" class="subscribe-btn btn"><i class="icon-search"></i></button>
                              </span>
                           </div>
                           <!-- /input-group -->
                        </div>
                        <!-- Search Widget End -->
                        <!-- Tab Start -->
                        <div class="widget tabs">
                           <div id="horizontal-tabs">
                              <ul class="tabs">
                                 <li id="tab1" class="current">Newest Books</li>
                                 <li id="tab2">Top Authors</li>
                                 <li id="tab3">Latest Snippets</li>
                              </ul>
                              
                              <div class="contents">
                                 <div class="tabscontent" id="content1" style="display: block;">
                                    <ul class="posts">
                                       <% newest.each do |new| %>
                                       <li>
                                          <%= image_tag(new.user.avatar.url(:thumb)) %></a>
                                          <p><%= new.title %></a></p>
                                          <span class="color">created <%= time_ago_in_words(new.created_at) %></span>
                                          <% end %>
                                       </li>                       
                                    </ul>
                                 </div>
                                 <div class="tabscontent" id="content2">
                                    <ul class="posts">
                                       <% ranked.each do |user| %>
                                       <li>
                                          <%= image_tag(user.avatar.url(:thumb)) %>
                                          <p><%= user.profile_name %></a></p>
                                          <span class="color">Joined  <%= time_ago_in_words(user.created_at) %> ago.</span>
                                       </li>
                                       <% end %>
                                    </ul>
                                 </div>
                                 <div class="tabscontent" id="content3">
                                    <ul class="posts">
                                       <% newest_snippet.each do |n| %>
                                       <li>
                                          <a href="#"><img class="img-thumbnail recent-post-img" alt="" src="img/recent-post-img.jpg"></a>
                                          <p><a href="#"><%= raw(n.content) %></a></p>
                                          by <span class="color"></span>
                                       </li>
                                       <% end %>                  
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                      </div>


                         <!-- The Scripts -->
      <script src="/assets/jquery.min.js"></script>
      <script src="/assets/bootstrap.js"></script>
      <script src="/assets/jquery.parallax.js"></script> 
      <script src="/assets/modernizr-2.6.2.min.js"></script> 
      <script src="/assets/jquery.nivo.slider.pack.js"></script>
      <script src="/assets/jquery.prettyPhoto.js"></script>
      <script src="/assets/superfish.js"></script>
      <script src="/assets/tweetMachine.js"></script>
      <script src="/assets/tytabs.js"></script>
      <script src="/assets/jquery.sticky.js"></script>
      <script src="/assets/jflickrfeed.js"></script>
      <script src="/assets/imagesloaded.pkgd.min.js"></script>
      <script src="/assets/waypoints.min.js"></script>
      <script src="/assets/jquery.gmap.min.js"></script>
      <script src="/assets/custom.js"></script>
        