<%= render 'pages/sidebar' %>
        <div class="col-md-3">
          <%= link_to image_tag("../thriller-genre.jpg"), books_path(:cat => "Thriller") %>
          <%= link_to image_tag("../horror-genre.jpg"), books_path(:cat => "Horror") %>
        </div>
        <div class="col-md-3">
          <%= link_to image_tag("../action-genre.jpg"), books_path(:cat => "Action") %>
          <%= link_to image_tag("../romance-genre.jpg"), books_path(:cat => "Romance") %>
        </div>
        <div class="col-md-3">
          <%= link_to image_tag("../crime-genre.jpg"), books_path(:cat => "Crime") %>
          <%= link_to image_tag("../scifi-genre.jpg"), books_path(:cat => "Sci-Fi") %>
        </div>
      </div>
    </div>