<link href='http://fonts.googleapis.com/css?family=Mystery+Quest' rel='stylesheet' type='text/css'>
<% if user_signed_in? %>

	<%= render '/pages/users'%>

<% else %>

     
      <link href='http://fonts.googleapis.com/css?family=Mystery+Quest' rel='stylesheet' type='text/css'>
         <!-- Content Start -->
         
            <!-- Slogan Start-->

                     <div class="slogan-content">
                        <div class="col-lg-9 col-md-9">
                           <h2 class="slogan-title" style="font-family: 'Mystery Quest', cursive; color: #5B1850; font-size:300%; text-shadow: 2px 2px #ffffff;">Join people around the world <p>creating amazing stories together!<p></h2>
                           <div class="span3">
                            <%= link_to "Get started now", new_user_registration_path, html: { class: 'btn btn-special btn-color pull-left' } %>
                         </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Slogan End--> 
            <!-- Main Content start-->
            <div class="main-content">
       
                     <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="content-box big ch-item bottom-pad-small">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><i class="icon-fullscreen"></i></div>
                                 <div class="ch-info-back">
                                    <i class="icon-fullscreen"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h3>The Whole World</h3>
                              <p>
                                 Evolving Tale brings creativity to your fingertips. Connect with people all around the world and create amazing books together. A huge community of people from all around the world, truly a place for imagination to run wild.
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="content-box big ch-item bottom-pad-small">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><i class="icon-eye-open"></i></div>
                                 <div class="ch-info-back">
                                    <i class="icon-eye-open"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h3>Good Cause</h3>
                              <p>
                                 Books are created by you and once created, we proofread and have them published for the general public to buy. Every book we sell goes to a good cause. Half of the profit goes to a charity of your choice once you buy. 
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="content-box big ch-item">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><i class="icon-edit"></i></div>
                                 <div class="ch-info-back">
                                    <i class="icon-edit"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h3>Famous</h3>
                              <p>
                                 Our site keeps growing with more and more people joing the creativity. Increase your rank and get the chance to approve and decide which books are let through. All users are published as authors on completion of the book.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               
          
            <!-- Main Content end--> 
            
      <!-- The Scripts -->
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.js"></script>
      <script src="js/jquery.parallax.js"></script> 
      <script src="js/modernizr-2.6.2.min.js"></script> 
      <script src="js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
      <script src="js/jquery.nivo.slider.pack.js"></script>
      <script src="js/jquery.prettyPhoto.js"></script>
      <script src="js/superfish.js"></script>
      <script src="js/tweetMachine.js"></script>
      <script src="js/tytabs.js"></script>
      <script src="js/jquery.gmap.min.js"></script>
      <script src="js/circularnav.js"></script>
      <script src="js/jquery.sticky.js"></script>
      <script src="js/jflickrfeed.js"></script>
      <script src="js/imagesloaded.pkgd.min.js"></script>
      <script src="js/waypoints.min.js"></script>
      <script src="js/custom.js"></script>


<% end %>

