<%= simple_form_for(@book, :html => { :class => 'form-horizontal' })  do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
    <ul>
     
    <li><%= f.label "Book Title" %></li>
    <li><%= f.input :title, label: false,  input_html: { :style=> 'width: 250px'}%></li>
    <li><%=f.input :size, input_html: {:style=> 'width: 120px'}, collection: [['Short', 0], ['Medium', 1], ['Long', 2]], :class => 'dropdown-toggle' %></li>
    <li><%=f.input :cat, input_html: { :style=> 'width: 120px'}, collection: [['Sci-Fi', 'Sci-Fi'], ['Thriller', 'Thriller'], ['Romance', 'Romance'], ['Action', 'Action'], ['Crime', 'Crime']], :class => 'dropdown-toggle' %></li>
    <br />
    <li><%= f.button :submit, "Create the book", :class => 'btn green large' %></li>
    </ul>

 <% end %>