 <%= simple_form_for [@book, @snippet] do |f| %>

        <p>

         <%= f.input :content, :as => :ckeditor, :label => false, :input_html => { :ckeditor => {:toolbar => 'Full'} } %>

        </p>
         <%= f.submit "Create Snippet" %></p>
    <% end %>
 <% else %>
  <h1>POOP</h1>

<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
</div>