<%= render 'pages/sidebar' %>
<link href='http://fonts.googleapis.com/css?family=Vast+Shadow' rel='stylesheet' type='text/css'>
 <div class="posts-block col-lg-9 col-md-9 col-sm-8 col-xs-12">
                       
                        <article class="post hentry">
                           <% @books.each do |book| %>
                           <header class="post-header">
                              <h3 class="content-title"><%= book.title %></h3>
                                  <%=link_to book_like_path(book), :method => :put do %>
                                 <i class="icon-thumbs-up">Like</i> 
                                  <% end %>
                                  <%=link_to book_dislike_path(book.id) do %>
                                      <i class="icon-thumbs-down">Dislike</i>
                                  <% end %>

                              
                                  
                              <div class="blog-entry-meta">
                                 <div class="blog-entry-meta-date">
                                    <i class="icon-time"></i>
                                   <%= book.created_at.to_s(:create_date) %>
                                 </div>
                                 <div class="blog-entry-meta-author">
                                    <i class="icon-user"></i>
                                    <%= book.user.full_name %></a>
                                 </div>
                                 <div class="blog-entry-meta-tags">
                                    <i class="icon-tags"></i>
                                    <%= book.cat %>
                                 </div>
                                 <div class="blog-entry-meta-comments">
                                    <i class="icon-comments"></i>
                                    <%= pluralize(book.snippets.count, "Snippet") %>

                                 </div>
               
                              </div>
                           </header>
                           <div class="post-content">
                              <p>
              <% book.snippets.where(:approved => true).first(1).each do |snip| %>
              
              <%= raw snip.content.truncate(200) %>
              <% end %>
                          </p>
                           </div>
                           <footer class="post-footer">
                <% if can? :manage, @book %>
                 <%= link_to("Delete Book", book_path(book.id), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn-small btn-color') %>
              <% end %>
                              <%= link_to "Read More",book_path(book.id), {class: 'btn-small btn-color'}  %>
                           </footer>
                        </article>
                        <div class="blog-divider"></div>
                      <%end%>
                       
                     </div>
                  </div>
               </div>
            </div>
       

