<link href='http://fonts.googleapis.com/css?family=Mystery+Quest' rel='stylesheet' type='text/css'>
<%= render 'pages/sidebar' %>
<div class="col-md-9">
 <h2 style="font-family: 'Mystery Quest', cursive; color: #3EA5F3; font-size:400%; text-shadow: 2px 3px #000000;">The magic starts with a book title...</h2>
 <br />
<%= render 'form' %>


</div>