
<%= render 'pages/sidebar' %>

<div class="col-md-7">
<p>
	
 <h1><strong><center><%= @book.title %></strong></h1>
                           
 <p><center>
 	<i class="icon-time"></i>
    <%= @book.created_at.to_s(:create_date) %>
    <i class="icon-user"></i>
    <%= @book.user.full_name %>
    <i class="icon-tags"></i>
    <%= @count %>
    <i class="icon-comments"></i>
    <%= pluralize(@book.snippets.count, "Snippet") %>
</center></p>

         <%= render 'snippets/snippet' %>
        <%= will_paginate @snippets %>


  <%= simple_form_for [@book, @snippet] do |f| %>
        <p><%= f.input :content, label: false, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} } %></p>
         <%= f.button :submit, "Create Snippet", :class => "btn-primary btn-lg" %></p>
    <% end %>
 
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

