  <div class="row">
    <div class="padding-left">
<div class="mid-container wrapper">
  <h1 class="title">Sign In</h1>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-vertical"}) do |f| %>
    <ul class="fields">
      <li>
        <%= f.input :email, :autofocus => true, label: false, placeholder: "Email please...", :input_html => {:class => "form-control"} %>
      </li>
      <li>
        <%= f.input :password, label: false, placeholder: "Enter Password", :input_html => {:class => "form-control"} %>
      </li>
    </ul>

    <div class="mid-form">
      <span class="login-checkbox pull-left">
        <%= f.input :remember_me, inline_label: 'Remember me', label: false, :as => :boolean %>
      </span>
      <%= f.button :submit, "Sign In", :class => 'btn blue large pull-right' %>
    </div>

    <div class="inset-margin">

      <%= link_to "#", class: "btn btn-twitter btn-block" do %>
          <i class="icon-twitter-sign"></i> Login with Twitter
      <% end %>
      <%= link_to user_omniauth_authorize_path(:facebook) do %>
          <i class="icon-facebook-sign"></i> Login with Facebook
      <% end %>
    </div>

  <% end %>

  <div class="mid-footer">
    Don't have an account yet? <%= link_to "Register here", '#' %>
  </div>
</div>
</div>
</div>

