/* ==================== PRICING TABLE  ==================== */
/* --- base --- */
div.p_table {
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-family: arial, sans-serif;
    font-weight: normal;
    color: #444444;
    line-height: normal !important;
}

/* --- hyperlinks --- */
div.p_table a {
    color: #444444;
    text-decoration: none;
}
	
/* --- lists --- */
div.p_table ul {
    margin: 0px;
    padding: 0px !important;
    list-style-type: none !important;
}

div.p_table li {
    margin: 0px;
    padding: 0px !important;
    list-style-type: none !important;
}

/* --- div aligns --- */
div.p_table .align_center {
    text-align: center;
}
	
/* ============ Style 5 ============= */
/* ========== HEADINGS  ========== */
div.p_table h1.col1,
div.p_table h1.col2,
div.p_table h1.col3,
div.p_table h1.col4 {
    color: #ffffff;
}

div.p_table h1 span {
    color: #ffffff;
}

div.p_table h2.col1,
div.p_table h2.col2,
div.p_table h2.col3,
div.p_table h2.col4 {
    color: #ffffff;
}

div.p_table h2.caption {
    color: #999999;
}

div.p_table h2.caption span {
    color: #999999;
}

div.p_table h3.col1,
div.p_table h3.col2,
div.p_table h3.col3,
div.p_table h3.col4 {
    color: #ffffff;
}
	
/* ========== CAPTION COLUMN  ========== */
/* --- header row 1 ---  */
div.p_table div.caption_column li.header_row_1 {
    border-top: 0;
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
}
	
/* --- header row 2 ---  */
div.p_table div.caption_column li.header_row_2 {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
}

/* ========== COLUMN STYLE 1  ========== */
/* --- header row 1 ---  */
div.p_table div.column_1 li.header_row_1 {
    border-top: 0;
    border-bottom: 1px solid #828282;
    background-color: #828282;
}
	
/* --- header row 2 ---  */
div.p_table div.column_1 li.header_row_2 {
    border-top: 1px solid #959595;
    border-bottom: 1px solid #959595;
    background-color: #959595;
}
	
/* ========== COLUMN STYLE 2  ========== */
/* --- header row 1 ---  */
div.p_table div.column_2 li.header_row_1 {
    border-top: 0;
    border-bottom: 1px solid #777777;
    background-color: #777777;
}
	
/* --- header row 2 ---  */
div.p_table div.column_2 li.header_row_2 {
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
    background-color: #888888;
}
	
/* ========== COLUMN STYLE 3  ========== */
/* --- header row 1 ---  */
div.p_table div.column_3 li.header_row_1 {
    border-top: 0;
    border-bottom: 1px solid #636363;
    background-color: #636363;
}
	
/* --- header row 2 ---  */
div.p_table div.column_3 li.header_row_2 {
    border-top: 1px solid #6C6C6C;
    border-bottom: 1px solid #6C6C6C;
    background-color: #6C6C6C;
}
	
/* ========== COLUMN STYLE 4  ========== */
/* --- header row 1 ---  */
div.p_table div.column_4 li.header_row_1 {
    border-top: 0;
    border-bottom: 1px solid #464646;
    background-color: #464646;
}
	
/* --- header row 2 ---  */
div.p_table div.column_4 li.header_row_2 {
    border-top: 1px solid #5A5A5A;
    border-bottom: 1px solid #5A5A5A;
    background-color: #5A5A5A;
}
	

/* ==================== HEADINGS  ==================== */
/* ------ common styles ------  */
div.p_table h1,
div.p_table h2,
div.p_table h3 {
    margin: 0px;
    padding: 0px !important;
    font-weight: normal !important;
    border: 0 !important;
    line-height: normal !important;
}

div.p_table h1 {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 44px;
}

div.p_table h1 span {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 50px;
}

div.p_table h2 {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 26px;
}

div.p_table h3 {
    font-size: 13px;
}	
	
/* ==================== COLUMNS  ==================== */
/* ------ common styles ------  */
/* --- header row 1 ---  */
div.p_table div.caption_column li.header_row_1 ,
div.p_table div.column_1 li.header_row_1,
div.p_table div.column_2 li.header_row_1,
div.p_table div.column_3 li.header_row_1,
div.p_table div.column_4 li.header_row_1 {
    height: 70px;
    width: 100%;
    padding: 15px 0px 0px 0px !important;
}
	
/* --- header row 2 ---  */
div.p_table div.caption_column li.header_row_2,
div.p_table div.column_1 li.header_row_2,
div.p_table div.column_2 li.header_row_2,
div.p_table div.column_3 li.header_row_2,
div.p_table div.column_4 li.header_row_2 {
    height: 100px;
    width: 100%;
    padding: 3px 0px 7px 0px !important;
}
	
/* --- caption correction --- */
div.p_table div.caption_column li.header_row_2 {
    height: 72px;
    width: 100%;
    padding: 32px 0px 6px 10px !important;
}
	

/* =================== 3 COLUMN Width  ==================== */
div.p_table.three-col div.column_1, div.p_table.three-col div.column_2, div.p_table.three-col div.column_3 {
    width: 31.33333%;
    height: 100%;
    float: left;
    position: relative;
	background: url("../img/bg_off.png'") repeat scroll 0 0 transparent;
    border: 1px solid #DDDDDD;
	margin: 0 1%;
    padding: 4px;
	border-radius:2px;
}


/* =================== 4 COLUMN Width  ==================== */
div.p_table div.column_1, div.p_table div.column_2, div.p_table div.column_3, div.p_table div.column_4 {
    width: 23%;
    height: 100%;
    float: left;
    position: relative;
	background: url("../img/bg_off.png'") repeat scroll 0 0 transparent;
    border: 1px solid #DDDDDD;
	margin: 0 1%;
    padding: 4px;
	border-radius:2px;
}

div.p_table {
	margin: 0 -1%;
}
	
	
/* ========== COLUMN HOVERS ========== */
div.p_table div.column_1,
div.p_table div.column_2,
div.p_table div.column_3,
div.p_table div.column_4 {
	/* transitions */
    -webkit-transition: box-shadow 0.25s ease;
    -moz-transition: box-shadow 0.25s ease;
    -o-transition: box-shadow 0.25s ease;
    -ms-transition: box-shadow 0.25s ease;
    transition: box-shadow 0.25s ease;
}

div.p_table div.column_1:hover,
div.p_table div.column_2:hover,
div.p_table div.column_3:hover,
div.p_table div.column_4:hover {
    position: relative;
    z-index: 100;
    left: 0;
    top: -15px;
	/* shadow */
    box-shadow: 5px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 0px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 0px 5px rgba(0,0,0,0.5);
}

div.p_table div.column_1:hover li.row_style_1,
div.p_table div.column_2:hover li.row_style_1,
div.p_table div.column_3:hover li.row_style_1,
div.p_table div.column_4:hover li.row_style_1,
div.p_table div.column_1:hover li.row_style_2,
div.p_table div.column_2:hover li.row_style_2,
div.p_table div.column_3:hover li.row_style_2,
div.p_table div.column_4:hover li.row_style_2,
div.p_table div.column_1:hover li.row_style_3,
div.p_table div.column_2:hover li.row_style_3,
div.p_table div.column_3:hover li.row_style_3,
div.p_table div.column_4:hover li.row_style_3,
div.p_table div.column_1:hover li.row_style_4,
div.p_table div.column_2:hover li.row_style_4,
div.p_table div.column_3:hover li.row_style_4,
div.p_table div.column_4:hover li.row_style_4 {
    min-height: 28px;
    padding-top: 12px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

div.p_table div.column_1:hover li.header_row_1,
div.p_table div.column_2:hover li.header_row_1,
div.p_table div.column_3:hover li.header_row_1,
div.p_table div.column_4:hover li.header_row_1 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

div.p_table div.column_1:hover li.header_row_2,
div.p_table div.column_2:hover li.header_row_2,
div.p_table div.column_3:hover li.header_row_2,
div.p_table div.column_4:hover li.header_row_2 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

div.p_table div.column_1:hover li.footer_row,
div.p_table div.column_2:hover li.footer_row,
div.p_table div.column_3:hover li.footer_row,
div.p_table div.column_4:hover li.footer_row {
    padding-left: 5px !important;
    padding-right: 5px !important;
}	
	
/*==================== DATA ROWS  ====================*/
/* ------ common styles ------  */
div.p_table li.row_style_1,
div.p_table li.row_style_2,
div.p_table li.row_style_3,
div.p_table li.row_style_4 {
    width: 100%;
    height: 100%;
    min-height: 26px;
    padding-top: 9px !important;
    float: left;
}

div.p_table li.row_style_1 span,
div.p_table li.row_style_2 span,
div.p_table li.row_style_3 span,
div.p_table li.row_style_4 span {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
	
/* --- white ---  */
div.p_table li.row_style_1 {
    background-color: #ffffff;
}
	
/* --- light gray ---  */
div.p_table li.row_style_2 {
    background-color: #f6f6f6;
}
	
/* --- mid gray ---  */
div.p_table li.row_style_3 {
    background-color: #ebebeb;
}
	
/* --- dark gray ---  */
div.p_table li.row_style_4 {
    background-color: #e3e3e3;
}
	
/*========== FOOTER  ==========*/
/* ------ common styles ------  */
div.p_table li.footer_row {
    width: 100%;
    padding-top: 14px !important;
    padding-bottom: 13px !important;
    float: left;
    border-top: 1px solid #d3d3d3;
    background-color: #e2e2e2;
 /* background color for non-css3 browsers */
	/* gradient */
    background-image: linear-gradient(top, #f6f6f6, #d0d0d0);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#d0d0d0');
 /* IE5.5 - 7 */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#d0d0d0');
 /* IE8 */
    background: -ms-linear-gradient(top, #f6f6f6, #d0d0d0);
 /* IE9 */
    background: -moz-linear-gradient(top, #f6f6f6, #d0d0d0);
 /* Firefox */
    background: -o-linear-gradient(top, #f6f6f6, #d0d0d0);
 /* Opera 11  */
    background: -webkit-linear-gradient(top, #f6f6f6, #d0d0d0);
 /* Chrome 11  */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f6f6), color-stop(1, #d0d0d0));
 /* Chrome 10, Safari */;
}
	
/* --- button --- */
div.p_table a.sign_up {
    width: 125px;
    padding: 10 0px !important;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
