<div class="wrap">
         <!-- Header Start -->
         <header id="header">
            <!-- Header Top Bar Start -->
            <div class="top-bar">
               <div class="slidedown collapse">
                  <div class="container">
                     <div class="phone-email pull-left">
                        <a href="mailto:contact@evolvingta.com"><i class="icon-envelope"></i> Email : contact@evolvingtale.com</a>
                     </div>
                     <div class="pull-right">
                        <ul class="social pull-left">
                           <li class="fa-frown-o"><a href="#"><i class="icon-facebook"></i></a></li>
                           <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                           <li class="dribbble"><a href="#"><i class="icon-dribbble"></i></a></li>
                           <li class="linkedin"><a href="#"><i class="icon-linkedin"></i></a></li>
                           <li class="rss"><a href="#"><i class="icon-rss"></i></a></li>
                        </ul>
                        <div id="search-form" class="pull-right">
                           <form action="#" method="get">
                              <input type="text" class="search-text-box">
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Header Top Bar End -->
            <!-- Main Header Start -->
            <div class="main-header">
               <div class="container">
                  <!-- TopNav Start -->
                  <div class="topnav navbar-header">
                     <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
                     <i class="icon-angle-down icon-current"></i>
                     </a> 
                  </div>
                  <!-- TopNav End -->
                  <!-- Logo Start -->
                  <div class="logo pull-left">
                     <h1>
                        <%= link_to root_path do %>
                        <img src="/assets/logo.png" alt="evolvingtale" width="125" height="60">
                        <% end %>
                     </h1>
                  </div>
                  <!-- Logo End -->
                  <!-- Mobile Menu Start -->
                  <div class="mobile navbar-header">
                     <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
                     <i class="icon-reorder icon-2x"></i>
                     </a> 
                  </div>
                  <!-- Mobile Menu End -->
                  <!-- Menu Start -->
                    <div class="collapse navbar-collapse menu">
                    <ul class="nav navbar-nav sf-menu">
                     <% if user_signed_in? %>
                     <% if can? :manage, :all %>
                        <li><%= link_to "Manage", admins_path %></li>
                    <% end %>
                    <% end %>
                  <% if user_signed_in? %>
                  <% if can? :create, Book %>
                 <li><%= link_to "Create a Book", new_book_path %></li>
                 <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse Books<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "All Books", books_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Horror", books_path(:cat => "Horror") %></li>
                  <li><%= link_to "Thriller", books_path(:cat => "Thriller") %></li>
                  <li><%= link_to "Sci-Fi", books_path(:cat => "Sci-Fi") %></li>
                  <li><%= link_to "Romance", books_path(:cat => "Romance") %></li>
                  <li><%= link_to "Action", books_path(:cat => "Action") %></li>
                  <li><%= link_to "Romance", books_path(:cat => "Crime") %></li>
              
                <% else %>
                    <li><%= link_to "Browse Books", books_path %></li>
                  <% end %>
                    <% else %>
      
              <% end %>
      </ul>
 </ul>



    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
       <li><%= link_to current_user.full_name, edit_user_registration_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                 
          
                <% else %>
                  <li><%= link_to "Login",  new_user_session_path %></li>
                  <li><%= link_to "Sign Up",  new_user_registration_path %></li>
                <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>


                  <!-- Menu End --> 
               </div>
            </div>
            <!-- Main Header End -->
         </header>
         <!-- Header End --> 