<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <title>Evolving Tale</title>
  <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  
  
</head>
<% if user_signed_in? %>
<body class="<%= controller_name %> <%= action_name %>">

<%= render 'layouts/header' %>
    
	
	      	<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
				<button class="close" data-dismiss="alert">×</button>
				<%= message %>
			</div>
		<% end %>
		    
		<%= yield %>

	</div>
	</body>
	<% else %>
	<body class="bg">

  <%= render 'layouts/header' %>
 
   
	      	<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
				<button class="close" data-dismiss="alert">×</button>
				<%= message %>
			</div>
		<% end %>
		<div class="container-fluid">    
		<%= yield %>
        </div>
	
	</body>
<% end %>
</html>

